.react-multi-carousel-list {
  padding-bottom: 36px;
}

.react-multi-carousel-dot {
  margin-right: 8px;
}

.react-multi-carousel-dot button {
  border-width: 0;
  background-color: #b0aea1;
}
.react-multi-carousel-dot--active button {
  border-width: 0;
  background-color: #664014;
}
.react-multiple-carousel__arrow {
  /* background: none; */
  /* color: #664014; */
  /* background-color: #664014; */
}
.react-multiple-carousel__arrow--left {
  /* left: 0 !important; */
  /* color: #664014; */
  /* border-color: #664014; */
  /* background-color: #664014; */
}
.react-multiple-carousel__arrow--right {
  /* right: 0 !important; */
}
